.rs-multi-date-picker {
  position: relative;
  min-width: 200px;
  min-height: 36px;
  display: inline-block;
  border: 1px solid #e5e5ea;
  border-radius: 6px;
  padding-right: 60px;
  padding-bottom: 5px;

  .rs-picker-toggle-textbox {
    opacity: 0;
  }

  .label-text {
    display: inline-block;
    color: #8e8e93;
    margin-left: 10px;
  }

  .rs-tag,
  .rs-picker-date {
    margin-left: 6px;
    margin-top: 5px;
  }

  .rs-picker-date {
    vertical-align: unset;
  }

  .rs-picker-toggle-clean {
    right: 36px;
    cursor: pointer;
  }

  .rs-icon-plus {
    font-size: 12px;
  }

  .rs-picker-date .rs-picker-toggle {
    position: static;
    border: none;
    background: #f7f7fa;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 20px;
  }
}
